*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bck-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --ff-primary: 'Poppins', sans-serif;
}
body{
  font-family: var(--ff-primary);
}
img{
  width: 100%;
}

.header{
  height: 4rem;
  background-image: var(--bck-image);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 4rem;
  


}
.header__logo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo{
  height: 35px;
  width: 40px;
  
}
.header__txtl{
  font-size: 1.25rem;
  color: rgb(8, 8, 8);
  font-weight: 700;
}
.header__txtr{
  font-size: 0.75rem;
}
.meme__container{
  max-height: calc(100vh - 4rem);
  padding: 4rem 2.5rem 4rem 2.5rem;
  max-width: 800px;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.form__input-container{
  width: 100%;
}
.input{
  display: flex;
  width: 100%;
  height: 2rem;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 1rem;
}
.form__btn{
  cursor: pointer;
  background-image: var(--bck-image);
  color: rgb(8, 8, 8);
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 1rem;
  height: 2.5rem;
  width: 100%;
  border: none;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.form__btn:hover{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.iconify{
  height: 25px;
  width: 40px;
  color: rgb(255, 255, 255);
}

.memeImg{
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* height: 30rem; */
  max-width: 100%;
  object-fit: contain;
}
.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}